<h1><%= @band.name %></h1>

<h4>Select Venues</h4>


<% @venues.each() do |venue| %>
<form role="form">
  <div class="checkbox">
    <label><input type="checkbox" value="<%= venue.id() %>"> <%= venue.name() %> </label>
  </div>
</form>
<% end %>
<form method="post" action="/bands/<%= @band.id() %>">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @band.name %></button>
</form>
<br>
<a class="btn btn-info" href="/bands" role="button">Band Listing</a>
